.blogPage__container{
    display:flex ;
    flex-direction:column;
    gap: 3rem;
    padding: 2rem 3rem;

    @media screen and (width<950px) {
        padding: 2rem 1rem;
    }

    img{
        align-self: center;
        border-radius: 5px;
        width: 60%;
        height: fit-content;

    }

    .blog__box{
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        @media screen and (width<950px) {
            flex-direction: column;
        }

        .table__of__content{
            list-style: none;
            position: sticky;
            top: 10rem;
            display: flex;
            flex-direction: column;
            padding: 2rem 2rem;
            border: 1px solid var(--lightText);
            gap: 2rem;
            height: fit-content;
            border-radius: 25px;

            @media screen and (width<950px) {
                position: relative;
                top: 0;
            }
        }

        .blog__details{
            width: 80vw;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            @media screen and (width<950px) {
                width: 100%;
            }
 
            h1{
                font: normal 600 28px/30px Inter;
            }

            p{
                font: normal 400 15px/25px Inter;
                color: var(--lightText);
            }

            .blog__description{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                @media screen and (width<950px) {
                    text-align: center;
                }

                p{
                    font: normal 400 15px/25px Inter;
                    color: var(--lightText);
                    
                }
            }
        }
    }
}