nav{
    position: sticky;
    z-index: 2;
    background: var(--bgColor);
    transition: 0.3s;
    top: 0;
    @media screen and (width<950px) {
        border-bottom: 1px solid #d7d7d7;
    }

    .nav__top{
      display: flex;
      padding: .5rem 2rem;
      align-items: center;
      justify-content: space-between;
      @media screen and (width<950px) {
       padding: 0.5rem 1rem;
    }

    button{
    background-color: #006ce4;
      color: #fff;
      outline: none;
      border-radius: 25px;
      border: none;
      padding: 1rem 2rem;
      font: normal 500 18px/20px Inter;
      letter-spacing: 1px;
      cursor: pointer;
    }

      .nav__logo{
        width: 20vw;
        height: 8vh;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
      }
    }

    .nav__top__details{
        display: flex;
        align-items: center;
        gap: 3rem;
        @media screen and (width<950px) {
            display: none;
        }

        .nav__contacts{
            display: flex;
            align-items: center;
            padding: 1rem;
            gap: 1rem;

            .details__{
                display: flex;
                white-space: nowrap;
                flex-direction: column;
                gap: .5rem;
                h4{font: normal 600 15px/15px Inter;}
                h5{font: normal 400 13px/13px Inter;}

            }
        }
    }

    .responsive__icon__box{
        display: none;
        @media screen and (width<950px) {
            display: block;
            cursor: pointer;
        }
    }


    .nav__links{
        display: flex;
        padding: 0rem 5rem;
        align-items: center;
        justify-content: space-between;
        border: 1px solid grey;
        height: 10vh;
        border-right: none;
        @media screen and (width<950px) {
            display: none;
        }

        ul{
            list-style: none;
            display: flex;
            align-items: center;
            height: 100%;
            
                li{
                    border: 1px solid var(--navText);
                padding: 0rem 2rem;
                height: 100%;
                border-top: none;
                display: flex;
                text-decoration: none;
                align-items: center;
                border-right: none;
                white-space: nowrap;
                color: var(--navText);
                border-bottom: none;
                font: normal 500 16px/20px Inter;
                cursor: pointer;
                text-transform: capitalize;
                &:nth-child(1){
                    border-left: none;
                }
                
            }
        
    }

    }

    .responsive__nav{
        position: absolute;
        display: none;
        width: 100vw;
        font: normal 400 14px/14px Inter;
        list-style: none;
        padding: 1.5rem 1.5rem;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--bgColor);
        border-top: 1px solid #d7d7d7;
        @media screen and (width<950px) {
            display: flex;
        }
        li{
            list-style: none;
        }
    }
}